<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joulink_digital_hub</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/mediaQ.css">


<body class="form--body">
    <div class="student--form-wrapper login--wrapper">
        <form action="" class="studentForm">
            <h1 class="form--h1">Forgotten password</h1>
            <div class="form--wrapper">
                <label for="password"> email
                    <input required type="email" class="student--input " id="email" name="email" placeholder="example@gmail.com">
                </label>

            </div>
            <button class="submit--btn">submit</button>
        </form>
       
    </div>
    <div class="wrapper">
        <footer class="intro--footer">
            <p class="intro--footer-p">&copy; 2023 Joulinks digital hub<a class="footer--link"> ||
                    DevCosmas</a></p>
        </footer>
    </div>
    <script src="/js/forgetPassword.js"></script>
</body>

</html>
  