<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joulink_digital_hub</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/mediaQ.css">
    <link rel="stylesheet" href="/alert.css">


<body class="form--body">
    <div class="alert alert--sucess">
        this is a placeholder
    </div>
    <div class="student--form-wrapper login--wrapper">
        <form action="" class="studentForm">
            <h1 class="form--h1">TUTOR login</h1>
            <div class="form--wrapper">
                <label for="state of origin"> email
                    <input required type="email" class="student--input " id="email">
                </label>

                <label for="state of origin"> password
                    <input required type="password" class="student--input " id="password">
                </label>

            </div>
            <button class="submit--btn">submit</button>

            <span class="signup--redirect">
                don't have an account? <a href="signUp" class="redirect  login--redirect"> sign up</a>
            </span>
        </form>
        <!-- <footer class="intro--footer login--foooter">
            <p class="intro--footer-p  login--footer-p">&copy; 2023 All right reserved. Joulinks digital hub<a class="footer--link"> ||
                    DevCosmas</a></p>
        </footer> -->
    </div>
    <div class="wrapper">
        <footer class="intro--footer">
            <p class="intro--footer-p">&copy; 2023 Joulinks digital hub<a class="footer--link"> ||
                    DevCosmas</a></p>
        </footer>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>