<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joulink digital hub</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/mediaQ.css">

</head>
<body>
    <a href="#" class="gohome">go home</a>
    <div class="filter--emails">
        <select name="course" id="course" class="course">
            <option  class="course--track">all</option>
            <option  class="course--track">microsoft office</option>
            <option  class="course--track">web development</option>
            <option class="course--track">graphic design</option>
          <option  class="course--track">digital marketing</option>
        </select>
        <button class="filter--email">filter</button>
    
     </div>
<form action="" class="sendEmail">
<input type="text" class="email--placeholder">
    <input  required type="text" class="emailHead" placeholder=" email heading">
    <textarea placeholder="email content" name="" id="" cols="30" rows="10" class="emailbody"></textarea>
    <button class="emailBtn">
        send Email
    </button>
</form>
   <script src="/js/sendEmail.js"></script>
</body>
</html>