<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joulink_digital_hub</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/mediaQ.css">

</head>

<body class="form--body">
    <div class="student--form-wrapper">
        <form action="" class="studentForm">
            <h1 class="form--h1">TUTOR SIGN UP</h1>
            <div class="form--wrapper">
                <label for="firstname">firstname

                    <input required type="text" class="student--input " id="firstname">
                </label>
                <label for="lastname">lastname

                    <input required type="text" class="student--input " id="lastname">
                </label>

               
                
               
                <label for="email"> email
                    <input required  type="email" class="student--input " id="email">
                </label>
                <label for="password"> password
                    <input required type="password" class="student--input " id="password">
                </label>

                <label for="confirmPassowrd"> confirm password
                    <input type="password" class="student--input " id="confirmPassword">
                </label>
               
             

                <label for="photo"> choose a photo
                    <input type="file" accept="image/*" id="photo" name="photo" class="student--input">
                </label>
            </div>


            <button class="submit--btn">submit</button>

            <span class="signup--redirect">
                already have an account? <a href="/login" class="redirect  signin-redirect"> login</a>
            </span>
        </form>
       
    </div>
  <div class="wrapper">
    <footer class="intro--footer">
        <p class="intro--footer-p">&copy; 2023 Joulinks digital hub<a class="footer--link"> ||
                DevCosmas</a></p>
    </footer>
</div>
<script src="/js/tutorSignUp.js"></script>
</body>

</html>