<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joulink_digital_hub</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/mediaQ.css">

</head>

<body class="form--body">
    <div class="student--form-wrapper">
        <form action="/submit-form" method="POST" class="studentForm" id="studentForm">
            <h1 class="form--h1">Student Form</h1>
            <div class="form--wrapper">
                <label for="firstname">Firstname
                    <input type="text" class="student--input" id="firstname">
                </label>
                <label for="lastname">Lastname
                    <input type="text" class="student--input" id="lastname">
                </label>
                <label for="DOB">DOB
                    <input type="date" class="student--input" id="DOB" placeholder="Date of Birth">
                </label>
                <label for="gender">Gender
                    <select name="gender" id="gender" class="student--select">
                        <option disabled selected>Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </label>

                <label for="stateOfOrigin"> state of origin
                    <input type="text" class="student--input" id="stateOfOrigin">
                </label>
                <label for="homeAddress">Home Address
                    <input type="text" class="student--input" id="homeAddress">
                </label>
                <label for="course">Course
                    <select name="course" id="course" class="student--select">
                        <option disabled selected>Select Course</option>
                        <option>Web Development</option>
                        <option>Graphic Design</option>
                        <option>Digital Marketing</option>
                        <option>Microsoft Office</option>
                    </select>
                </label>
                <label for="lessonTime">Lesson Time
                    <select name="lessonTime" id="lessonTime" class="student--select">
                        <option disabled selected>Select Lesson Time</option>
                        <option>Bi-weekly</option>
                        <option>Once a Week</option>
                    </select>
                </label>
                <label class="opt--container" for="paymentMethod">Payment Method
                    <select name="paymentMethod" id="paymentMethod" class="student--select">
                        <option disabled selected>Select Payment Method</option>
                        <option>Cash</option>
                        <option>USSD</option>
                        <option>POS</option>
                    </select>
                </label>
                <label for="photo">Choose a Photo
                    <input type="file" accept="image/*" id="photo" name="photo" class="student--input">
                </label>
                <label for="email">Email
                    <input type="email" class="student--input email" placeholder="Your Email">
                </label>
            </div>
            <button class="submit--btn" type="submit">Submit</button>
        </form>
        
        <footer class="intro--footer">
            <p class="intro--footer-p">&copy; 2023 All right reserved. Joulinks digital hub<a class="footer--link"> ||
                    DevCosmas</a></p>
        </footer>
    </div>
    <!-- <footer>
        p.footer
    </footer> -->
    <script src="/js/studentSignup.js"></script>
</body>

</html>