<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joulinks digital hub</title>
    <!-- <link rel="stylesheet" href="./../public/mediaQ.css" -->
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/mediaQ.css">

</head>

<body>
    <header class="landing--pageTwo">
        <nav class="tutor--nav">
            <span class="tutor--img">
                <img src="/public/img/j-coding.avif" alt="" class="tutor-img">
                <p class="tutorname">Joulinks digital hub</p>
            </span>
            <a href="#" class="nav--link">send email</a>
            <a href="#" class="nav--link">logout</a>


            
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class=" harmbuger" id="sticky--icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        </nav>

        <ul class="fixed-nav">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class=" cancel " id="stick-cancel">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
            <li class="fixednav-list"><a href="#" class=" href">send email</a></li>
            <li class="fixednav-list"><a href="#" class=" href">logout</a></li>
      </ul>
        <!-- <div class="nav--highlight">
            <a href="#" class=" href">send email</a>
            <a href="#" class=" href">logout</a>
            
        </div> -->

    </header>

    <main>
        <form action="" class="filter">
            <h1 class="filter--h1">search student</h1>
            <span class="child">
                <input type="text" class="filter--input" placeholder="search here">
                <button class="filter--btn">filter</button>
            </span>
        </form>


        <section>

            <div class="student--profile--container">
                <img src="/public/img/j-press.webp" alt="" class="student--profile">
                <a href="" class="student--name">ugwucosmas chibuike</a>
            </div>

            <div class="student--profile--container">
                <img src="/public/img/j-press.webp" alt="" class="student--profile">
                <a href="" class="student--name">ugwucosmas chibuike</a>
            </div>

            <div class="student--profile--container">
                <img src="/public/img/j-press.webp" alt="" class="student--profile">
                <a href="" class="student--name">ugwucosmas chibuike</a>
            </div>


            <div class="student--profile--container">
                <img src="/public/img/j-press.webp" alt="" class="student--profile">
                <a href="" class="student--name">ugwucosmas chibuike</a>
            </div>


            <div class="student--profile--container">
                <img src="/public/img/j-press.webp" alt="" class="student--profile">
                <a href="" class="student--name">ugwucosmas chibuike</a>
            </div>

            <div class="student--profile--container">
                <img src="/public/img/j-press.webp" alt="" class="student--profile">
                <a href="" class="student--name">ugwucosmas chibuike</a>
            </div>

            <div class="student--profile--container">
                <img src="/public/img/j-press.webp" alt="" class="student--profile">
                <a href="" class="student--name">ugwucosmas chibuike</a>
            </div>


            <div class="student--profile--container">
                <img src="/public/img/j-press.webp" alt="" class="student--profile">
                <a href="" class="student--name">ugwucosmas chibuike</a>
            </div>


            <div class="student--profile--container">
                <img src="/public/img/j-press.webp" alt="" class="student--profile">
                <a href="" class="student--name">ugwucosmas chibuike</a>
            </div>
        </section>
    </main>
   
    <script src="/public/js/index.js"></script>
</body>

</html>