<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joulinks digital hub</title>
    <link rel="stylesheet" href="/public/index.css">
    <link rel="stylesheet" href="/public/mediaQ.css">
    <style>
        /* Add any additional styling here */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            font-size: 1.5rem;
            text-transform: capitalize;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color:orangered;
            color: #fff;
        }
    </style>
</head>

<body class="student--profile-body">

    <h1 class="student--cardh1">student card</h1>
    <div class="student--card">
        <img src="/public/img/powerpoint.avif" alt="" class="student--profile--pics">
        <div class="student--detail">
            <table>
                <tr>
                    <th>Detail</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>cosmas</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>chibuike</td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>12/1/2002</td>
                </tr>
                <tr>
                    <td>State of Origin</td>
                    <td>enugu</td>
                </tr>
                <tr>
                    <td>Home Address</td>
                    <td>enugu</td>
                </tr>
                <tr>
                    <td>Course</td>
                    <td>web development</td>
                </tr>
                <tr>
                    <td>Lesson Time</td>
                    <td>once a week</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
