<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joulink_digital_hub</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/mediaQ.css">

</head>

<body class="form--body">
    <div class="student--form-wrapper">
        <form action="" class="studentForm">
            <h1 class="form--h1">student form</h1>
            <div class="form--wrapper">
                <label for="firstname">firstname

                    <input type="text" class="student--input ">
                </label>
                <label for="firstname">lastname

                    <input type="text" class="student--input ">
                </label>

                <label for="lesson time"> gender
                    <!-- <h2 class="opt--heading">lesson time</h2> -->
                    <select name="lessonTime" id="" class="student--select">
                        <option value="web development"> male</option>
                        <option value="web development"> female</option>
                    </select>
                </label>
                <label for="date of birth"> DOB
                    <input type="date" class="student--input " placeholder="date of birth">
                </label>
                <label for="state of origin"> state of origin
                    <input type="text" class="student--input ">
                </label>
                <label for="home address"> home address
                    <input type="text" class="student--input">
                </label>
                <label for="course"> course
                    <!-- <h2 class="opt--heading">courser</h2> -->
                    <select name="course" id="" class="student--select">
                        <option value="web development"> web development</option>
                        <option value="web development"> graphic design</option>
                        <option value="web development"> digital marketing</option>
                        <option value="web development"> microsoft office</option>
                    </select>
                </label>
                <label for="lesson time"> lessonTime
                    <!-- <h2 class="opt--heading">lesson time</h2> -->
                    <select name="lessonTime" id="" class="student--select">
                        <option value="web development"> bi-weekly</option>
                        <option value="web development"> once a week</option>
                    </select>
                </label>
                <label class="opt--container" for="payment method">
                    payment method
                    <!-- <h2 class="opt--heading">payment method</h2> -->
                    <select name="paymentMethod" id="" class="student--select">
                        <option value="web development"> cash</option>
                        <option value="web development"> USSD</option>
                        <option value="web development"> POS</option>
                    </select>
                </label>

                <label for="home address"> choose a photo
                    <input type="file" accept="image/*" id="photo" name="photo" class="student--input">
                </label>
            </div>


            <button class="submit--btn">submit</button>
        </form>
        <footer class="intro--footer">
            <p class="intro--footer-p">&copy; 2023 All right reserved. Joulinks digital hub<a class="footer--link"> ||
                    DevCosmas</a></p>
        </footer>
    </div>
    <!-- <footer>
        p.footer
    </footer> -->
</body>

</html>